@import "tailwindcss";

@theme {
  /* fonts */
  --font-georgian: "Noto Sans Georgian", serif;
  /* colors */
  --primary: 0, 45, 106;
  --mscsecondary-01: 0, 153, 209;
  --mscsecondary-02: 0, 113, 193;
  --mscaccent: 181, 186, 181;
  --mscaccentdark: 111, 115, 111;
  --msclight: 255, 255, 255;
  --mscdark: 0, 0, 0;
  --color-mscprimary: rgb(var(--primary));
  --color-mscsecondary-01: rgb(var(--mscsecondary-01));
  --color-mscsecondary-02: rgb(var(--mscsecondary-02));
  --color-mscaccent: rgb(var(--mscaccent));
  --color-mscaccentdark: rgb(var(--mscaccentdark));
  --color-msclight: rgb(var(--msclight));
  --color-mscdark: rgb(var(--mscdark));
  --alfa-mscsecondary-01: rgba(var(--mscsecondary-01), 0.3);
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

*::-webkit-scrollbar {
  width: 10px;
}

* {
  -webkit-overflow-scrolling: touch;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--msclight);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-mscsecondary-01);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-mscprimary);
}

* {
  scrollbar-width: 10px;
}

/* .nav ul {
  background-color: var(--color-mscsecondary-01);
  display: flex;
  text-align: left;
  white-space: nowrap;
}

.nav ul li {
  position: relative;
  padding-inline: 0.5rem;
  padding-block: 1.5rem;
  cursor: pointer;
  transition: all 150ms;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
}

.nav ul li:hover {
  background-color: var(--color-mscsecondary-02);
}

.nav ul li:hover ul li {
  background-color: var(--color-mscsecondary-01);
}

.nav ul li ul li:hover {
  background-color: var(--color-mscsecondary-02);
}

.nav>ul>li>ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 4.5rem;
  transition: all 150ms;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
}

.nav>ul>li>ul>li ul {
  position: absolute;
  left: 100%;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  top: 0;
  transition: all 150ms;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
}

.nav>ul>li>ul li {
  padding-block: 0.25rem;
}

.nav ul li:hover>ul {
  visibility: visible;
  opacity: 1;
}

.nav>ul>li>ul>li:hover ul {
  visibility: visible;
  opacity: 1;
}

@media (width < 80rem) {
  .nav ul {
    background-color: var(--color-mscsecondary-01);
    display: flex;
    text-align: left;
    white-space: nowrap;
    flex-direction: column;
    width: 100%;
  }

  .nav span {
    display: block;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
  }

  .nav ul li {
    position: static;
    padding-inline: 0.5rem;
    padding-block: 0rem;
    cursor: pointer;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;

  }

  .nav ul>li span {
    border-bottom: 1px solid;
  }

  .nav > ul>li:last-child span {
    border-bottom: none;
  }

  .nav ul li:hover {
    background-color: var(--color-mscsecondary-01);
  }

  .nav ul li:hover>span {
    background-color: var(--color-mscsecondary-02);
  }

  .nav ul li:hover ul li {
    background-color: var(--color-mscsecondary-01);
  }

  .nav ul li ul li:hover>span {
    background-color: var(--color-mscsecondary-02);
  }

  .nav>ul>li>ul {
    display: flex;
    flex-direction: column;
    position: static;
    display: none;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
  }

  .nav>ul>li>ul>li ul {
    position: static;
    flex-direction: column;
    display: none;
    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
  }

  .nav>ul>li>ul li {
    padding-block: 0.25rem;
    padding-inline: 1.5rem;
  }

  .nav ul li:hover>ul {
    display: block;
  }

  .nav>ul>li>ul>li:hover ul {
    display: block;
  }
} */